h2 {
    font-size: 32px;
}

.questionnaryName {
    text-align: center;
}

.questionnaire {
    max-width: 610px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    color: rgb(89,89,89);
}